{% extends "layout.html.j2" %}

{% block container %}container{% endblock %}

{% block title %}About Colvert{% endblock %}

{% block body %}
<div class="container">
    <h1>About Colvert</h1>
    <p>Colvert is a web frontend for DuckDB designed for data analysis and visualization.</p>
    <h2>License</h2>
    <p>Colvert is licensed under the Apache 2.0 License.</p>
    <h2>Components and Licenses</h2>
    <ul>
        <li>Python - License: PSF</li>
        <li>HTMX - License: Zero-Clause BSD</li>
        <li>DuckDB - License: MIT</li>
        <li>AioHTTP - License: Apache 2.0</li>
        <li>Monaco Editor - License: MIT</li>
        <li>Tabler - License: MIT</li>
        <li>Bootstrap - License: MIT</li>
    </ul>
    <h2>Author</h2>
    <p>Colvert was created by Julien Duponchelle. You can find more about the project on <a href="https://github.com/julien-duponchelle/colvert">GitHub</a>.</p>
</div>
{% endblock %}
