{% extends "layout.html.j2" %}

{% block head %}
<link rel="stylesheet" href="/static/codehilite.css">
{% endblock %}

{% block container %}container{% endblock %}

{% block body %}

{{ html|safe}}

{% endblock %}