{% extends "layout.html.j2" %}

{% block container %}container-full{% endblock %}

{% block body %}

<script src="/plotly.js"></script>
<script src="/static/vs/loader.js"></script>
<script>
    require.config({ paths: { vs: '/static/vs' } });
    require(['vs/editor/editor.main'], function () {
        monaco.editor.defineTheme("colvertTheme", {
            base: "vs",
            inherit: true,
            rules: [
                { token: "operator", foreground: "FF0000" },
            ],
            colors: {},
        });
        editor = monaco.editor.create(document.getElementById('search'), {
            theme: 'colvertTheme',
            value: {{ query| tojson }},
            language: 'sql',
            lineNumbers: false,
            minimap: { enabled: false },
            automaticLayout: true,
            wordWrap: 'on',
            contextmenu: false,
            scrollbar: { vertical: 'hidden' },
            renderLineHighlight: 'none',
            padding: { top: 10, bottom: 10 },
            lineDecorationsWidth: 0,
            overviewRulerLanes: 0,
            wordBasedSuggestions: "off",
            quickSuggestions: {
                other: true,
                strings: true
            }
        });
        editor.onDidChangeModelContent(function () {
            const input = document.querySelector('input[name=q]');
            input.value = editor.getValue();
            const results = document.getElementById('results');
            results.dispatchEvent(new Event('sql-change'));
        });
    });
</script>

<div id="search" style="height: 150px; overflow: auto; resize: vertical;"></div>

<div id="form" class="mb-2">
    <input
        type="hidden"
        name="q"
        value="{{ query }}"
    >
    <select name="chart" class="form-select" onchange="document.getElementById('results').dispatchEvent(new Event('sql-change'))">
        <option value="table">Table</option>
        <option value="pie">Pie Chart</option>
    </select>
</div>



<div
    id="results"
    hx-get="/results"
    hx-trigger="load, sql-change delay:500ms"
    hx-swap="innerHtml"
    hx-include="#form input, #form select"
>
</div>

{% endblock %}