<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/static/tabler/tabler.js"></script>
  <link rel="stylesheet" href="/static/tabler/tabler.css">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="icon" type="image/png" href="/static/favicon.png">
  <script src="/static/htmx.min.js"></script>
  <meta name="htmx-config" content='{"includeIndicatorStyles": false}'>
  {% block head %}{% endblock %}
  <title>Colvert</title>
</head>

<body class="page">
  <header>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="/" class="navbar-brand">
        <img src="/static/logo.png" alt="Colvert" />
      </a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/docs">Documentation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tables">Tables</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="page-wrapper">
      <div class="page-body">
        <div class="{% block container %}{% endblock %}">
          <div class="row row-deck row-cards">
            {% block body %}
            {% endblock %}
          </div>
        </div>
    </div>
  </main>
</body>

</html>